{% include "/includes/head.html" %}
<title>{% block title %}{% endblock %}  Aam Aadmi Party</title>

{% block css %}{% endblock %}
</head>
<body>
     <div id="mount-point"></div>
</body>

<footer>
    <script type="text/jsx">
        class Row extends React.Component{
            constructor(props){
                super(props);
                this.state = {
                    show_update_interface: false,
                    removed:false
                }
            }

         update_user(d){
                this.setState({loading:true,show_update_interface:false});
             fetch(`/api/v1/update_user/${d.id}`, {
                     headers:{
                         'Accept': 'application/json',
                         'Content-Type': 'application/json'
                     },
                     method:'PATCH',
                    body:JSON.stringify({name:this.state.updated_name,number:this.state.updated_number,broadcast_count:this.state.updated_broadcast})
                 }).then(resp=>resp.json()).then(resp=>{
                console.log(resp)
            });
         }
            render(){
                let {name,number,broadcast_count,messages_received} = this.props.data;

                return(<tr>
                        <td>
                            {this.state.show_update_interface ?
                                <div className="ui fluid input"><input type="text"
                                                                           onChange={(e)=>this.setState({updated_name:e.target.value})}
                                                                           id="update-name"
                                                                       value={this.state.updated_name!==undefined?this.state.updated_name:name}
                                /></div>:
                                this.state.updated_name!==undefined?this.state.updated_name:name}
                        </td>
                        <td>{this.state.show_update_interface ?
                                <div className="ui fluid input"><input type="text"
                                                                           onChange={(e)=>this.setState({updated_number:e.target.value})}
                                                                           id="update-number"
                                                                       value={this.state.updated_number!==undefined?this.state.updated_number:number}
                                                                           /></div>:
                            this.state.updated_number!==undefined?this.state.updated_number:number}</td>
                        <td>{this.state.show_update_interface ?
                                <div className="ui fluid input"><input type="text"
                                                                           onChange={(e)=>this.setState({updated_broadcast:e.target.value})}
                                                                           id="update-number"
                                                                       value={this.state.updated_broadcast!==undefined?this.state.updated_broadcast:broadcast_count}
                                                                           /></div>:
                            this.state.updated_broadcast!==undefined?this.state.updated_broadcast:broadcast_count}</td>
                        <td>
                            {this.state.show_update_interface&&<button onClick={()=>this.update_user(this.props.data)} className="ui positive button">Save</button>}
                            {this.state.show_update_interface&&<button onClick={()=>this.setState({updated_number:number,updated_name:name, show_update_interface:false})} className="ui button">Back</button>}
                            {!this.state.show_update_interface&&<button onClick={()=>this.setState({show_update_interface:true})} className="ui button">Edit</button>}
                            {!this.state.show_update_interface&&<button onClick={()=>this.props.delete_user(this.props.data)} className="ui negative button">Delete</button>}
                        </td>
                        </tr>)
            }
        }
        class UserTable extends React.Component{
            constructor(props){
            super(props);
            this.state = {
                data:[],
                show_interface:false,
                name: "",
                number:null,
                loading:false,
                page_no:1
            }
        }
         componentDidMount(){
             console.log('here');
            if(this.state.page_no===1){
             fetch(`/api/v1/users`).then(resp=>resp.json()).then(resp=>{
                console.log({resp});
                this.setState({data: resp.result})
            });
            }

         }
         delete_user(d){
             if (window.confirm("Are you sure?")){
              this.setState({loading:true});
             fetch(`/api/v1/delete_user/${d.id}`,{headers:{'Accept': 'application/json'}, method:"DELETE"}).then(resp=>resp.json()).then(resp=>{
                console.log(resp);
                let array = [...this.state.data]; // make a separate copy of the array
              let index = array.indexOf(d);
                  if (index !== -1) {
                    array.splice(index, 1);
                    this.setState({data: array});
                  }
                // this.state.data.splice(this.state.data.indexOf(d), 1);
                this.setState({loading:false})
            });
             }
         }
         add_user(){
                if(this.state.number || this.state.name) {
                    console.log(this.state.name || this.state.name );
                    fetch('/api/v1/create_user',
                        {
                            headers: {
                              'Accept': 'application/json',
                              'Content-Type': 'application/json'
                            },
                            method: "POST",
                            body: JSON.stringify({name: this.state.name, number: this.state.number})
                        }).then(resp=>resp.json()).then(resp=>{
                             let newData = this.state.data.slice();
                             newData.unshift(resp);
                             console.log(newData);
                             this.setState({data:newData})
                        });
                    document.getElementById('input-name').value = '';
                    document.getElementById('input-number').value = null

                }
         }
         nextPage(){

                    this.setState(
                        {page_no: this.state.page_no+1},()=> {
                            fetch(`/api/v1/users?page=${this.state.page_no}`).then(resp => resp.json()).then(resp => {
                                console.log(this.state.page_no);
                                // console.log({resp});
                                this.setState({data: resp.result})
                            })
                        }
                        );



         }
         prevPage(){
                this.setState(
                        {page_no: this.state.page_no-1},()=> {
                            fetch(`/api/v1/users?page=${this.state.page_no}`).then(resp => resp.json()).then(resp => {
                                console.log(this.state.page_no);
                                // console.log({resp});
                                this.setState({data: resp.result})
                            })
                        }
                        );
         }
        render(){
            const {data} = this.state;
            // console.log({data});
            if(!data.length) return <div className="ui active inline center aligned loader"></div>;
            return (
                <div className="ui container">

                    <div>
                        <h1 className="ui header">
                            Users (Page {this.state.page_no})
                            <button className="ui right floated primary button" onClick={()=>{this.setState({show_interface:!this.state.show_interface})}}>Add a User</button>
                        </h1>
                    </div>
                    {this.state.show_interface&&
                        <form className="ui form">
                            <div className="equal width fields">
                                <div className="field"><label htmlFor="form-subcomponent-shorthand-input-first-name">Contact name</label>
                                    <div className="ui fluid input"><input type="text"
                                                                           onChange={(e)=>this.setState({name:e.target.value})}
                                                                           id="input-name"
                                                                           placeholder="First name"/></div>
                                </div>
                                <div className="field"><label htmlFor="form-subcomponent-shorthand-input-last-name">Number</label>
                                    <div className="ui fluid input"><input type="number"
                                                                           onChange={(e)=>this.setState({number:e.target.value})}
                                                                           id="input-number"
                                                                           placeholder="Number"/></div>
                                </div>
                            </div>
                            <button className="ui right floated mini primary button" onClick={(e)=>{e.preventDefault();this.add_user()}}>Submit</button>
                        </form>

                    }
                    <table className="ui fixed celled table">
                        <thead className="">
                            <tr className="">
                                <th className="">Name ({data.length})</th>
                                <th className="">Number</th>
                                <th className="">Total BroadCasts ( {data.map(u=>u.broadcast_count).reduce(function(a, b){return a+b;})} )</th>
                                <th className="">Options</th>
                            </tr>
                        </thead>
                        <tbody className="">
                        {data.map(d => <Row data={d} delete_user={this.delete_user.bind(this)}/>)}
                        </tbody>
                    </table>
                    <div>
                        <button className={this.state.page_no>1?"ui left floated button":"ui left floated disabled button "} onClick={()=>this.prevPage()}>Previous Page</button>
                        <button className={this.state.data.length===100?"ui right floated button":"ui right floated disabled button "} onClick={()=>this.nextPage()}>Next Page</button>
                    </div>
                </div>
                );
        }
    }
    React.render(<UserTable />, document.getElementById('mount-point') );
     </script>
    {% block footJs %}{% endblock %}
    {% include "/includes/foot.html" %}